* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
}
section {
    padding: 50px;
}
h1,h2 {
    margin-bottom: 20px;
}
h1{
    font-size:35px;
}
header {
    background: #ffffff;
    color: #000000;
    padding: 10px 5%;
    position: fixed;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}
#hero {
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px; 
}
.hero-content h2 {
    font-size: 55px;
}
#About,#Skills,#Contact {
    background: #b676ff;
}
#About,#Skills,#Contact,#Education,#Project{
    font-size: larger;
}

